
/* IMPORT FONTS */
@font-face {
    font-family: 'Canaro-bold';
    src: url('../fonts/CANARO-BOLD.TTF') format('TTF');
}

@font-face {
    font-family: 'GothamBook';
    src: url('../fonts/GOTHAMBOOK.TTF') format('TTF');
}

body{
    font-family: 'Gotham';
}

.container {
    padding: 0;
}

.row {
    max-width: 1300px;
    justify-content: space-between;
}

.logo {
    width: 225px;
    height: 56px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 75px;
    background-color: #0A2D65;
}

.header-top a.logo {
    display: block;
}

.header-top_navigation a {
    display: inline-block;
    margin-right: 7rem;
    font-family: 'Gotham', sans-serif;
    color: #fff;
    opacity: 0.6;
    font-size: 18px;
    line-height: 24px;
}

.header-top a:hover {
    text-decoration: none;
}

.header-top_navigation a:last-of-type {
    margin-right: 0;
}

.header-top .header-top_login a {
    color: #EFC51E;
    font-family: 'Gotham', sans-serif;
    font-size: 14px;
    line-height: 19px;
}

.header-content {
    background-color: #09368B;
    padding: 100px 15px;
}

.header-content .row {
    margin-left: auto;
}

.header-content_left .header-content_text-top {
    font-size: 47px;
    font-family: 'Gotham', sans-serif;
    line-height: 63px;
    color: #fff;
}

.header-content_left .header-content_text-bottom {
    font-family: 'Gotham', sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #EFC51E;
    margin-bottom: 55px;
}

.header-content_left .header-content_text-bottom i {
    font-style: italic;
    font-weight: 700;
}

.header-content_left .header-content_buttons {
    display: flex;
    justify-content: space-between;
}

.header-content_left .header-content_buttons .header-content_button {
    padding: 10px 80px;
    border-radius: 10px;
    font-family: 'Gotham', sans-serif;
    font-size: 20px;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid #EFC51E;
    color: #EFC51E;
}

.header-content_left .header-content_buttons .header-content_button:hover {
    background-color: #EFC51E;
    color: #fff;
}

.header-content_left .header-content_buttons .header-content_button:focus {
    outline: none;
}

.header-content_right {
    display: flex;
    align-items: center;
}

.header-content_right img {
    width: 100%;
}

#products-section {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px 0;
    background-color: #f3f3f3;
}

.products-section-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.body-padding {
    padding-top: 84px;
}

.products-navigation {
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-navigation a {
    font-family: 'Gotham', sans-serif;
    font-size: 18px;
    line-height: 24px;
    display: block;
    color: #646464;
}

.products-navigation a:hover {
    text-decoration: none;
}

.products-navigation a.products-button-pressed {
    border-radius: 24px;
    background-color: #092e65;
    color: #efc51e;
    font-family: 'Gotham', sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 50px;
}

.product-solution {
    padding-top: 50px;
    padding-left: 15px;
}

.product-solution .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blue-line {
    display: flex;
    border: 1px solid #092e65;
    width: 100px;
    margin-bottom: 10px;
}

.blue-h2 {
    font-family: 'Canaro-bold', sans-serif;
    color: #092E65;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 35px;
    position: relative;
    font-weight: 700;
}

.product-heading {
    font-size: 30px;
    color: #092e65;
    font-family: 'Canaro-bold';
    font-weight: 700;
    margin-bottom: 60px;
    position: relative;
}

.product-heading::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 90px;
    height: 3px;
    background-color: #092e65;
    border-radius: 15px;
}

.product-cards {
    display: flex;
}

.product-solution .container .product-cards:nth-of-type(3) {
    margin-top: 15px;
}

.product-solution .product-cards:nth-of-type(2) .card:nth-child(even) {
    background: #FBFBFB;
}

.product-solution .product-cards:nth-of-type(3) .card:nth-child(odd) {
    background: #FBFBFB;
}

.product-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 261px;
    width: 222px;
    background-color: #f3f3f3;
    font-family: 'Gotham', sans-serif;
    padding: 30px 15px;
    margin-right: 15px;
}

.product-cards .card:last-of-type {
    margin: 0;
}

.card img {
    display: block;
    height: 55px;
    width: 55px;
    object-fit: contain;
    margin-bottom: 20px;
}

.product-cards .card p.card-heading {
    max-width: 125px;
    font-weight: 700;
    font-family: 'Gotham', sans-serif;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 10px;
    text-align: center;
}

.product-cards .card p.card-content {
    font-family: 'Gotham', sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.view-all {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.view-all button {
    padding: 10px 100px;
    background-color: transparent;
    color: #EFC51E;
    border: 2px solid #EFC51E;
    border-radius: 10px;
    font-family: 'Gotham';
    font-size: 20px;
    line-height: 24px;
}

.view-all button:focus {
    outline: none;
}

.layout-section {
    background: linear-gradient(to right,#F3F3F3 50%, #E5E5E5 50%, #E5E5E5 100%);
    margin-bottom: 260px;
    padding: 0 15px;
}

.layout-item img {
    margin-bottom: 22.5px;
}

.layout-item {
    min-height: 730px;
    padding-top: 75px;
}

.layout-heading {
    font-family: 'Canaro-bold';
    color: #092e65;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 35px;
    position: relative;
    font-weight: 700;
}

.layout-heading::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 90px;
    height: 3px;
    background-color: #092e65;
    border-radius: 15px;
}

.layout-item p {
    font-size: 24px;
    text-align: left;
    letter-spacing: 0;
    color: #1E1E1E;
    opacity: 0.67;
    padding-bottom: 30px;
    font-family: 'Gotham', sans-serif;
}

.view-commands {
    display: flex;
    justify-content: start;
    align-items: center;
}

.view-commands button {
    height: 70px;
    width: 370px;
    background-color: transparent;
    color: #092E65;
    border: 2px solid #092E65;
    border-radius: 12px;
    font: Bold 20px/24px Gotham;
}

.layout-two {
    height: 730px;
    width: 960px;
    background-color: #E5E5E5;
}


/*.layout-section {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    margin: auto;*/
/*    padding: 20px 0;*/
/*    background-color: #f3f3f3;*/
/*}*/

/*.layout-item {*/
/*    min-height: 730px;*/
/*    top: 75px;*/
/*}*/


/*?*/
.services {
    min-height: 915px;
    padding-top: 50px;
    background-color: #092E65;
    padding-left: 15px;
}

.white-line {
    display: flex;
    border: 1px solid #fff;
    width: 100px;
    margin-bottom: 10px;
}

.white-h2 {
    font-family: 'Canaro-bold', sans-serif;
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 35px;
    position: relative;
    font-weight: 700;
}

.services-cards {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.services-cards .card {
    min-height: 435px;
    width: 400px;
    background-color: #2A6AFF;
    padding: 50px 35px;
    margin: 0 10px;
}

.services-cards .card h2 {
    font-size: 26px;
    text-align: left;
    color: #fff;
}

.services-cards .card p {
    font-size: 24px;
    text-align: left;
    color: #fff;
    opacity: 0.67;
    margin: 10px 0 0 0;
}

.schedule {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

.schedule button {
    height: 60px;
    width: 570px;
    background-color: #EFC51E;
    color: #fff;
    border-radius: 12px;
    font: Bold 20px/24px Gotham;
}

.testimonials {
    min-height: 720px;
    padding-top: 50px;
    padding-left: 15px;
    background-color: #DEEBFF;
}

.testimonials-cards {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-left: 15px;
}

.testimonials-cards .card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    /*need height = 160px*/
    width: 560px;
    background-color: #fff;
    box-shadow: 0 19px 44px #B7D3FF73;
    border-radius: 11px;
    opacity: 0.5;
}

.testimonials-cards .card:first-child {
    margin-right: 2%;
}

.testimonials-cards .card-white {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 19px 44px #B7D3FF73;
    border-radius: 11px;
    opacity: 1;
}

.testimonials-cards .card span {
    font-weight: bold;
    font-family: 'Gotham', sans-serif;
    line-height: 30px;
}

.testimonials-cards .card p {
    font-family: 'Gotham', sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding: 0 55px 0 55px;
}

.clients {
    height: 410px;
    background-color: #F2F7FF;
    padding-top: 50px;
    padding-left: 15px;
}

.clients-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.clients-cards img {
    opacity: 0.38;
    mix-blend-mode: luminosity;
}

.clients-cards img:hover {
    opacity: 1;
    mix-blend-mode: initial;
}

.videos {
    min-height: 815px;
    padding-top: 50px;
    padding-left: 15px;
    background-color: #EFC51E;
}

.videos-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 290px;
    margin-right: 2%;
}

.video-card img {
    max-height: 250px;
}

.video-card p {
    /*font-family: "Gotham";*/
    font-size: 19px;
    color:#1E1E1E;
}

.training-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 300px;
}

.training-buttons button {
    height: 60px;
    width: 370px;
    border-radius: 12px;
    font: Bold 20px/24px Gotham;
}

.training-buttons button:first-of-type {
     background-color: transparent;
     border: 2px solid #092E65;
     color: #092E65;
 }

.training-buttons button:last-of-type {
    background-color: #092E65;
    color: #fff;
    border: 2px solid #092E65;
}

.data-sheets {
    min-height: 815px;
    padding-top: 50px;
    padding-left: 15px;
    background-color: #092E65;
}

.data-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 50px;
}

.data-cards .card {
    align-items: center;
    justify-content: space-between;
    min-height: 440px;
    width: 400px;
    background-color: #fff;
    padding: 0 25px 25px 25px;
    border-radius: 12px;
}

.data-cards .card h2 {
    font-size: 21px;
    text-align: center;
    color: #1E1E1E;
    padding: 10px 0;
}

.data-cards .card p {
    text-align: left;
    letter-spacing: 0;
    color: #1E1E1E;
    opacity: 0.67;
    font-size: 24px;
}

.card-details {
    display: flex;
}

.card-details button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 290px;
    text-align: left;
    font-family: 'Gotham', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    color: #fff;
    background-color: #092E65;
    border: 2px solid #092E65;
    border-radius: 12px;
    margin-top: 25px;
}

.card-details button:hover {
    color: #fff;
    background-color: #EFC51E;
    border: 2px solid #EFC51E;
}

.data-span {
    min-height: 8px;
    width: 400px;
    background-color: #DEDEDE;
    border-radius: 12px 12px 0px 0px;
}

.span-hovered {
    min-height: 8px;
    width: 400px;
    border-radius: 12px 12px 0px 0px;
    background-color: #EFC51E;
}

.about .container {
    padding: 190px 0;
}

.about .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.about .about-left {
    max-width: 550px;
}

.about .about-left_top {
    line-height: 50px;
    margin-bottom: 50px;
    font-size: 48px;
    color: #092E65;
    font-family: 'Canaro-bold', sans-serif;
}

.about .about-left_content {
    font-size: 20px;
    color: #646464;
    font-family: 'Gotham', sans-serif;
    line-height: 36px;
}

.about .about-left_content b {
    font-weight: 700;
}

.about .about-right {
    position: relative;
}

.about .about-right img {
    width: 100%;
}

.about .about-right .play-button {
    width: 107px;
    height: 107px;
    background-image: url('../images/play-button.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* DISABLE BUTTON DEFAULT BLUE BORDER ON CLICK */
.about .about-right .play-button:focus {
    outline: none;
}

.footer {
    background-color: #092E65;
    padding: 150px 15px 40px 15px;
}

.footer .footer-top {
    margin-bottom: 85px;
}

.footer .footer-content {
    display: flex;
    justify-content: space-between;
}

.footer .footer-content_section-heading {
    line-height: 50px;
    font-size: 30px;
    color: #fff;
    margin-bottom: 30px;
}
.footer .footer-content_section-heading p {
    font-family: 'Canaro', sans-serif;
    display: inline-block;
    position: relative;
}
.footer .footer-content_section-heading p::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -30px;
    transform: translate(0, -50%);
    width: 0;
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-bottom: 7.5px solid #fff;
}

.footer .footer-content_section-item {
    position: relative;
    padding-left: 25px;
    opacity: 0.4;
    margin-bottom: 15px;
}

.footer .footer-content_section-item a {
    font-family: 'Gotham', sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
}

.footer .footer-content_section-item a:hover {
    text-decoration: none;
}

.footer .footer-content_section-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 25%;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.4;
}

.footer .footer-bottom_heading {
    font-family: 'Gotham', sans-serif;
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    margin-bottom: 25px;
}

.footer .footer-bottom_social-twitter a {
    display: block;
    width: 67px;
    height: 67px;
    background-image: url('../images/twitter.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.copyright {
    padding: 25px 0;
    color: #092E65;
    font-family: 'Gotham', sans-serif;
    background-color: #DEEBFF;
    text-align: center;
}

.form {
    padding: 4.5rem 0 3.5rem;
}

.form .container {
    max-width: 65rem;
    display: flex;
    flex-direction: column;
}

.form .container p.title {
    font-family: 'Canaro-bold', sans-serif;
    line-height: 3.1rem;
    font-size: 3rem;
    color: #092E65;
    text-align: left;
}

.form .container p.heading {
    font-family: 'Gotham', sans-serif;
    font-size: 1.8rem;
    line-height: 3.1rem;
    font-weight: 700;
    color: #646464;
    text-align: center;
    margin-top: 1.25rem;
}

.form .container .form-input:first-of-type {
    margin-top: 6.4rem;
}

.form .container .form-input {
    font-family: 'Gotham', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #646464;
    margin-bottom: 2rem;
}

.form .container .form-input select,
.form .container .form-input textarea {
    border: 0.05rem solid #CBCBCB;
}


.form .container .form-input select:focus,
.form .container .form-input textarea:focus {
    outline: none;
}

.form .container .form-input select {
    font-family: 'Gotham', sans-serif;
    font-size: 1.875rem;
    line-height: 1.5rem;
    font-weight: 700;
    padding: 1.2rem 1rem 1.2rem 2.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
    linear-gradient(60deg, transparent 50%, #1E1E1E 50%),
    linear-gradient(120deg, #1E1E1E 50%, transparent 50%);
    background-position:
        calc(100% - 1.25rem),
        calc(100% - 0.75rem),
        calc(100% - 0.5rem);
    background-size:
        10px 10px,
        10px 10px,
        .5em .5em;
    background-repeat: no-repeat;
}

.form .container .form-input.phone-input input {
    max-width: 54.3rem;
    margin-left: auto;
    display: block;
    float: right;
}

.form .container .form-input.phone-input select {
    height: 4.8rem;
    width: 9.3rem;
}
.form .container .form-input.licenses-input select{
    width: 22.5rem;
}

.form .container .form-input:last-of-type {
    margin-bottom: 0;
}

.form .container .form-input:last-of-type textarea {
    width: 100%;
    display: block;
    resize: none;
    padding: 1rem;
}

.form .container .form-input_title {
    margin-bottom: 0.7rem;
}

.form .container .form-input input {
    width: 100%;
    padding: 0 1rem;
    height: 4.8rem;
    border-radius: 0.75rem;
    border: 0.05rem solid #CBCBCB;
}

.form .container .form-input input:focus {
    outline: none;
}

.form button {
    max-width: 35.4rem;
    margin: 6.25rem auto 0;
    padding: 1rem 15.625rem;
    border: none;
    border-radius: 0.75rem;
    background-color: #EFC51E;
    font-family: 'Gotham', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: white;
}

.form button:focus {
    outline: none;
}

.blogs {
    min-height: 1000px;
    background: url('../images/blogs-background.png');
    mix-blend-mode: multiply;
}

.blogs-heading {
    border: 2px solid red;
    font-family: 'Canaro-bold', sans-serif;
    font-size: 30px;
}

.blogs-heading button a {
    color: #092E65;
}

@media(min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}