/* IMPORT FONTS */
@font-face {
    font-family: 'CanaroWoo-Bold';
    src: url('../fonts/canaroBold/Canaro-W00-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham/Gotham-Bold/Gotham-Bold.svg') format('SVG');
    src: url('../fonts/Gotham/Gotham-Bold/Gotham-Bold.eot') format('eot');
    src: url('../fonts/Gotham/Gotham-Bold/Gotham-Bold.ttf') format('ttf');
    src: url('../fonts/Gotham/Gotham-Bold/Gotham-Bold.woff') format('woff');
    src: url('../fonts/Gotham/Gotham-Bold/Gotham-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham-Bold-Italic';
    src: url('../fonts/Gotham/Gotham-Bold-Italic/Gotham-Bold-Italic.otf') format('otf');
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham/Gotham-Book/Gotham-Book.svg') format('SVG');
    src: url('../fonts/Gotham/Gotham-Book/Gotham-Book.eot') format('eot');
    src: url('../fonts/Gotham/Gotham-Book/GOTHAMBOOK.TTF') format('TTF');
    src: url('../fonts/Gotham/Gotham-Book/Gotham-Book.woff') format('woff');
    src: url('../fonts/Gotham/Gotham-Book/Gotham-Book.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham-Book-Italic';
    src: url('../fonts/Gotham/Gotham-Book-Italic/Gotham-BookItalic.svg') format('SVG');
    src: url('../fonts/Gotham/Gotham-Book-Italic/Gotham-BookItalic.eot') format('eot');
    src: url('../fonts/Gotham/Gotham-Book-Italic/Gotham-BookItalic.ttf') format('ttf');
    src: url('../fonts/Gotham/Gotham-Book-Italic/Gotham-BookItalic.woff') format('woff');
    src: url('../fonts/Gotham/Gotham-Book-Italic/Gotham-BookItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham/Gotham-Medium/Gotham-Medium.svg') format('SVG');
    src: url('../fonts/Gotham/Gotham-Medium/Gotham-Medium.eot') format('eot');
    src: url('../fonts/Gotham/Gotham-Medium/Gotham-Medium.ttf') format('ttf');
    src: url('../fonts/Gotham/Gotham-Medium/Gotham-Medium.woff') format('woff');
    src: url('../fonts/Gotham/Gotham-Medium/Gotham-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham-Black';
    src: url('../fonts/Gotham/Gotham-Black/GOTHAM-BLACK.OTF') format('OTF');
}

body {
    font-family: 'Gotham-book', sans-serif !important;
}

.container {
    padding: 0;
}

.row {
    max-width: 81.25rem;
    justify-content: space-between;
    padding: 0;
}

button:focus {
    outline: none;
}

.logo {
    width: 14.0625rem;
    height: 3.5rem;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5625rem 4.6875rem;
    background-color: #0A2D65;
}

.header-top a.logo {
    display: block;
}

.header-top_navigation a {
    display: inline-block;
    margin-right: 7rem;
    font-family: 'Gotham-Book', sans-serif;
    color: #fff;
    opacity: 0.6;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.header-top a:hover {
    text-decoration: none;
}

.header-top_navigation a:last-of-type {
    margin-right: 0;
}

.header-top .header-top_login a {
    color: #EFC51E;
    font-family: 'Gotham-Medium', sans-serif;
    font-size: 0.875rem;
    line-height: 1.1875rem;
}

.header-content {
    background-color: #09368B;
    padding: 6.25rem 0.9375rem;
}

.header-content .row {
    margin-left: auto;
}

.header-content_left {
    flex: 0 0 45%;
    max-width: 37rem;
}

.header-content_left .header-content_text-top {
    font-size: 2.9375rem;
    font-family: 'Gotham-Bold', sans-serif;
    line-height: 3.9375rem;
    color: #fff;
}

.header-content_left .header-content_text-bottom {
    font-family: 'Gotham-Book-Italic', sans-serif;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #EFC51E;
    margin-bottom: 1rem;
}

.header-content_left .header-content_text-bottom i {
    font-family: 'Gotham-Bold-Italic', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.55rem;
}

.header-content_left .header-content_buttons {
    display: flex;
    justify-content: space-between;
    max-width: 34rem;
}

.header-content_left .header-content_buttons .header-content_button {
    padding: 0.625rem 5rem;
    border-radius: 0.625rem;
    /*TODO: do Gotham-Bold-Italic (import) ???*/
    /*font-family: 'Gotham', sans-serif;*/
    font-size: 1.25rem;
    line-height: 1.5rem;
    background-color: transparent;
    border: 0.125rem solid #EFC51E;
    color: #EFC51E;
    margin-right: 0.7rem;
}

.header-content_left .header-content_buttons .header-content_button:hover {
    background-color: #EFC51E;
    color: #fff;
}

.header-content_left .header-content_buttons .header-content_button:focus {
    outline: none;
}

.header-content_right {
    display: flex;
    align-items: center;
    flex: 0 0 47%;
}

.header-content_right #demo-video {
    margin-left: auto;
}

.header-content_right img {
    width: 100%;
}

#products-section {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 5.5625rem;
    background-color: #f3f3f3;
}

.products-section-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.body-padding {
    padding-top: 5.25rem;
}

.products-navigation {
    width: 60rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-navigation a {
    font-family: 'Gotham-Book', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    display: block;
    color: #646464;
}

.products-navigation a:hover {
    text-decoration: none;
}

.products-navigation a.products-button-pressed {
    border-radius: 1.5rem;
    background-color: #092e65;
    color: #efc51e;
    font-family: 'Gotham', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 0.625rem 3.125rem;
    font-weight: bold;
}

.product-solution {
    padding: 5rem 0.9375rem 3.8125rem;
}

.product-solution .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blue-line {
    display: flex;
    border: 0.0625rem solid #092e65;
    width: 6.25rem;
    margin-bottom: 0.625rem;
}

.blue-h2 {
    font-family: 'CanaroWoo-Bold', sans-serif;
    color: #092E65;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2.1875rem;
    position: relative;
}

.white-line {
    display: flex;
    border: 1px solid #fff;
    width: 100px;
    margin-bottom: 10px;
}

.white-h2 {
    /*font-family: 'CanaroWoo-Bold', sans-serif;*/
    color: #fff;
    position: relative;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 5rem;
}

.product-heading {
    font-size: 1.5rem;
    color: #092e65;
    font-family: 'CanaroWoo-Bold', sans-serif;
    line-height: 32px;
    margin-bottom: 3.75rem;
    position: relative;
}

.product-heading::before {
    content: "";
    position: absolute;
    top: -0.625rem;
    left: 0;
    width: 7.1875rem;
    height: 0.1875rem;
    background-color: #092e65;
    border-radius: 0.9375rem;
}

.product-cards {
    display: flex;
}

.product-solution .container .product-cards:nth-of-type(3) {
    margin-top: 0.9375rem;
}

.product-solution .product-cards:nth-of-type(2) .card:nth-child(even) {
    background: #FBFBFB;
}

.product-solution .product-cards:nth-of-type(3) .card:nth-child(odd) {
    background: #FBFBFB;
}

.product-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 16.3125rem;
    width: 13.875rem;
    background-color: #f3f3f3;
    font-family: 'Gotham', sans-serif;
    padding: 1.875rem 0.9375rem;
    margin-right: 0.9375rem;
}

.card-hovered {
    transform: scaleY(1.2);
    z-index: 1;
}

.long-description-none {
    display: none;
}

.product-cards .card:last-of-type {
    margin: 0;
}

.product-img {
    display: block;
    height: 3.4375rem;
    width: 3.4375rem;
    object-fit: contain;
    margin-bottom: 1.25rem;
}

.product-cards .card p.card-heading {
    max-width: 7.8125rem;
    font-family: 'Gotham-Bold', sans-serif;
    font-size: 0.8125rem;
    line-height: 1.0625rem;
    margin-bottom: 0.625rem;
    text-align: center;
}

.product-cards .card p.card-content {
    font-family: 'Gotham-Book', sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
}

.view-all {
    display: block;
    max-width: 23.0625rem;
    max-height: 4.3125rem;
    margin: 4.25rem auto 0;
    padding: 0.625rem 6.25rem;
    background-color: transparent;
    color: #EFC51E;
    border: 0.125rem solid #EFC51E;
    border-radius: 0.625rem;
    font-family: 'Gotham-Bold', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.view-all button:focus {
    outline: none;
}

.layout-section {
    background: linear-gradient(to right, #F3F3F3 50%, #E5E5E5 50%, #E5E5E5 100%);
    margin-bottom: 16.25rem;
    padding: 0 0.9375rem;
}

.layout-item img {
    margin-bottom: 1.4063rem;
}

.layout-item {
    min-height: 45.625rem;
    padding-top: 4.6875rem;
}

.layout-heading {
    font-family: 'CanaroWoo-Bold', sans-serif;
    color: #092e65;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2.1875rem;
    position: relative;
}

.layout-heading::before {
    content: "";
    position: absolute;
    top: -0.625rem;
    left: 0;
    width: 5.625rem;
    height: 0.1875rem;
    background-color: #092e65;
    border-radius: 0.9375rem;
}

.layout-item p {
    font-size: 1rem;
    text-align: left;
    color: #1E1E1E;
    opacity: 0.67;
    padding-bottom: 1.875rem;
    font-family: 'Gotham-Book', sans-serif;
    line-height: 1.5rem;
}

.view-commands {
    display: flex;
    justify-content: start;
    align-items: center;
}

.view-commands button {
    height: 4.375rem;
    width: 23.125rem;
    background-color: transparent;
    color: #092E65;
    border: 0.125rem solid #092E65;
    border-radius: 0.75rem;
    font-family: 'Gotham-Bold', sans-serif;
    font-size: 1.25rem;
    position: absolute;
    top: 37rem;
}

.layout-two {
    height: 45.625rem;
    width: 60rem;
    background-color: #E5E5E5;
}

.services {
    padding: 7.1875rem 1rem;
    background-color: #092E65;
}

.services-heading {
    font-family: 'CanaroWoo-Bold', sans-serif;
    color: #fff;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 4.0625rem;
    position: relative;
}

.services-heading::before {
    content: "";
    position: absolute;
    top: -0.625rem;
    left: 0;
    width: 5.6875rem;
    height: 0.1875rem;
    background-color: #fff;
    border-radius: 0.9375rem;
}

.services-cards {
    display: flex;
    justify-content: center;
}

.services-cards .card {
    min-height: 27.1875rem;
    width: 25rem;
    background-color: #2A6AFF;
    padding: 3.125rem 2.1875rem;
    margin: 0 0.625rem;
}

.services-cards .card p.card-heading {
    font-family: 'Gotham-Black', sans-serif;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: left;
    color: #fff;
    margin-bottom: 0.75rem;
    font-weight: 900;
}

.services-cards .card p.card-content {
    font-family: 'Gotham-Book', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #fff;
    opacity: 0.67;
}

.schedule {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.375rem 0;
}

.schedule button {
    height: 3.75rem;
    width: 35.625rem;
    background-color: #EFC51E;
    color: #fff;
    border-radius: 0.75rem;
    font-family: 'Gotham-Bold', sans-serif;
    border: none;
}

.schedule button:focus {
    outline: none;
}

.testimonials {
    min-height: 45rem;
    padding-top: 7.1875rem;
    padding-left: 0.9375rem;
    background-color: #DEEBFF;
}

.testimonials-cards {
    display: flex;
    justify-content: center;
    margin-top: 3.125rem;
    padding-left: 0.9375rem;
}

.testimonials-cards .card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 11.25rem;
    width: 35rem;
    background-color: #eef5ff;
    box-shadow: 0 1.1875rem 2.75rem #B7D3FF73;
    border-radius: 0.6875rem;
    font-family: "Gotham-Book", sans-serif;
}

.testimonials-cards .card:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 11.25rem;
    width: 35rem;
    background-color: #fff;
    box-shadow: 0 1.1875rem 2.75rem #B7D3FF73;
    border-radius: 0.6875rem;
}

.testimonials-cards .card:first-child {
    margin-right: 2%;
}

.testimonials-cards .card-white {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0rem 1.1875rem 2.75rem #B7D3FF73;
    border-radius: 0.6875rem;
    opacity: 1;
}

.testimonials-cards .card span {
    font-weight: bold;
    font-family: 'Gotham', sans-serif;
    line-height: 1.875rem;
}

.testimonials-cards .card p {
    /*NEED 'Gotham" font here*/
    font-family: 'Gotham-Book', sans-serif;
    font-size: 1rem;
    line-height: 1.677rem;
    text-align: center;
    padding: 0 3.4375rem 0 3.4375rem;
}

.clients {
    background-color: #F2F7FF;
    padding: 6.25rem 0.9375rem;
}

.clients .row {
    margin: auto;
    width: 100%;
}

.clients-cards {
    display: flex;
}

.clients-cards .row:first-of-type {
    margin-bottom: 4.625rem;
}

.clients-cards img {
    opacity: 0.38;
    mix-blend-mode: luminosity;
    filter: grayscale(1);
    object-fit: contain;
    display: block;
}

.clients-cards img:hover {
    opacity: 1;
    mix-blend-mode: initial;
    filter: grayscale(0);
}

.clients-cards .slide-1,
.clients-cards .slide-2 {
    outline: none;
    margin-bottom: 4.6875rem;
}

.clients-cards .slide-2 .row:last-of-type {
    padding: 0 18.75rem;
}

.clients .slick-dots {
    margin: auto;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 1.5625rem;
    height: 1.5625rem;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 1.5625rem;
    height: 1.5625rem;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    content: '•';
    font-size: 2.5rem;
    line-height: 1.5625rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5625rem;
    height: 1.5625rem;
    text-align: center;
    opacity: .25;
    color: black;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #092E65;
}

.clients .slick-dots li:last-of-type {
    margin-right: 0;
}

.videos {
    padding: 6.875rem 0.9375rem 5.3125rem;
    background-color: #EFC51E;
}

.videos .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.videos-header {
    font-family: 'CanaroWoo-Bold', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #092E65;
    position: relative;
    margin-bottom: 6.5625rem;
    align-self: flex-start;
}

.videos-header::before {
    content: "";
    position: absolute;
    top: -0.625rem;
    left: 0;
    width: 5.625rem;
    height: 0.1875rem;
    background-color: #092e65;
    border-radius: 0.9375rem;
}

.videos-cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 76.25rem;
}

.video-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 0.75rem;
}

.videos .video-card:last-of-type {
    margin-right: 0;
}

.video-card_background {
    position: relative;
}

.video-card_background button {
    width: 5rem;
    height: 5rem;
}

.videos .video-card img {
    width: 100%;
    height: auto;
}

.videos .video-card p {
    font-family: "Gotham-Black", sans-serif;
    font-size: 1.0625rem;
    line-height: 1.375rem;
    color: #1E1E1E;
    font-weight: 900;
    margin-top: 1rem;
}

.videos .training-button {
    margin-top: 5.625rem;
    text-align: center;
    display: flex;
}

.videos .training-button button {
    height: 3.75rem;
    width: 23.125rem;
    border-radius: 0.75rem;
    font-family: "Gotham-Bold", sans-serif;
    border: 0.125rem solid #092E65;
    color: #092E65;
    background-color: transparent;
}

.videos .training-button button:hover {
    background-color: #092E65;
    color: #fff;
}

.data-sheets {
    padding: 6.875rem 1rem 3rem;
    background-color: #092E65;
}

.data-sheets-heading {
    position: relative;
    font-family: 'CanaroWoo-Bold', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #fff;
}

.data-sheets-heading::before {
    content: "";
    position: absolute;
    top: -0.625rem;
    left: 0;
    width: 7.1875rem;
    height: 0.1875rem;
    background-color: #fff;
    border-radius: 0.9375rem;
}

.data-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem auto 0;
}

.data-cards .card {
    text-align: center;
    background-color: #fff;
    border-radius: 0.75rem;
    overflow: hidden;
    position: relative;
    padding: 1rem 0.5rem;
}

.data-cards .card span {
    position: absolute;
    top: 0;
    left: 0;
}

.data-cards .card h2 {
    font-family: 'Gotham-Black', sans-serif;
    font-size: 1.1875rem;
    text-align: center;
    color: #1E1E1E;
    max-width: 17rem;
    font-weight: 700;
}

.data-cards .card p {
    text-align: left;
    color: #1E1E1E;
    opacity: 0.67;
    font-size: 1rem;
    font-family: 'Gotham-Book', sans-serif;
    max-width: 20rem;
    line-height: 1.5rem;
}

.data-cards button {
    font-family: 'Gotham-Bold', sans-serif;
    font-size: 1.25rem;
    color: #fff;
    background-color: #092E65;
    border: none;
    border-radius: 0.5rem;
    margin-top: 2rem;
    padding: 0.5rem 0;
}

.data-cards button:hover {
    color: #fff;
    background-color: #EFC51E;
}

.data-span {
    min-height: 0.5rem;
    width: 25rem;
    background-color: #DEDEDE;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
}

.span-hovered {
    min-height: 0.5rem;
    width: 25rem;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
    background-color: #EFC51E;
}

.about .container {
    padding: 11.875rem 0;
}

.about .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.9375rem;
}

.about .about-left {
    max-width: 34.375rem;
}

.about .about-left_top {
    line-height: 3.125rem;
    margin-bottom: 3.125rem;
    font-size: 3rem;
    color: #092E65;
    /*font-family: 'CanaroWoo-Bold', sans-serif;*/
}

.about .about-left_content {
    font-size: 1.25rem;
    color: #646464;
    font-family: 'Gotham', sans-serif;
    line-height: 2.25rem;
}

.about .about-left_content b {
    font-weight: 700;
}

.about .about-right {
    position: relative;
}

.about .about-right img {
    width: 100%;
}

.play-button {
    width: 6.6875rem;
    height: 6.6875rem;
    background-image: url('../images/play-button.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* DISABLE BUTTON DEFAULT BLUE BORDER ON CLICK */
.about .about-right .play-button:focus {
    outline: none;
}

.footer {
    background-color: #092E65;
    padding: 9.375rem 0.9375rem 2.5rem 0.9375rem;
}

.footer .footer-top {
    margin-bottom: 5.3125rem;
}

.footer .footer-content {
    display: flex;
    justify-content: space-between;
}

.footer .footer-content_section-heading {
    line-height: 3.125rem;
    font-size: 1.875rem;
    color: #fff;
    margin-bottom: 1.875rem;
}

.footer .footer-content_section-heading p {
    /*TODO: CANARO-BOLD ???*/
    font-family: 'Canaro', sans-serif;
    display: inline-block;
    position: relative;
}

.footer .footer-content_section-heading p::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -1.875rem;
    transform: translate(0, -50%);
    width: 0;
    height: 0;
    border-left: 0.4688rem solid transparent;
    border-right: 0.4688rem solid transparent;
    border-bottom: 0.4688rem solid #fff;
}

.footer .footer-content_section-item {
    position: relative;
    padding-left: 1.5625rem;
    opacity: 0.4;
    margin-bottom: 0.9375rem;
}

.footer .footer-content_section-item a {
    font-family: 'Gotham-Book', sans-serif;
    font-size: 1.375rem;
    line-height: 1.875rem;
    color: #fff;
}

.footer .footer-content_section-item a:hover {
    text-decoration: none;
}

.footer .footer-content_section-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 25%;
    display: block;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.4;
}

.footer .footer-bottom_heading {
    font-family: 'Gotham', sans-serif;
    font-size: 1.875rem;
    line-height: 3.125rem;
    color: #fff;
    margin-bottom: 1.5625rem;
}

.footer .footer-bottom_social-twitter a {
    display: block;
    width: 4.1875rem;
    height: 4.1875rem;
    background-image: url('../images/twitter.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.copyright {
    padding: 1.5625rem 0;
    color: #092E65;
    font-family: 'Gotham', sans-serif;
    background-color: #DEEBFF;
    text-align: center;
}

.form {
    padding: 4.5rem 0 3.5rem;
}

.form .container {
    max-width: 65rem;
    display: flex;
    flex-direction: column;
}

.form .container p.title {
    font-family: 'CanaroWoo-Bold', sans-serif;
    line-height: 3.1rem;
    font-size: 3rem;
    color: #092E65;
    text-align: left;
}

.form .container p.heading {
    font-family: 'Gotham', sans-serif;
    font-size: 1.8rem;
    line-height: 3.1rem;
    font-weight: 700;
    color: #646464;
    text-align: center;
    margin-top: 1.25rem;
}

.form .container .form-input:first-of-type {
    margin-top: 6.4rem;
}

.form .container .form-input {
    font-family: 'Gotham', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #646464;
    margin-bottom: 2rem;
}

.form .container .form-input select,
.form .container .form-input textarea {
    border: 0.05rem solid #CBCBCB;
}


.form .container .form-input select:focus,
.form .container .form-input textarea:focus {
    outline: none;
}

.form .container .form-input select {
    font-family: 'Gotham', sans-serif;
    font-size: 1.875rem;
    line-height: 1.5rem;
    font-weight: 700;
    padding: 1.2rem 1rem 1.2rem 2.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(60deg, transparent 50%, #1E1E1E 50%),
    linear-gradient(120deg, #1E1E1E 50%, transparent 50%);
    background-position: calc(100% - 1.25rem),
    calc(100% - 0.75rem),
    calc(100% - 0.5rem);
    background-size: 0.625rem 0.625rem,
    0.625rem 0.625rem,
    .5em .5em;
    background-repeat: no-repeat;
}

.form .container .form-input.phone-input input {
    max-width: 54.3rem;
    margin-left: auto;
    display: block;
    float: right;
}

.form .container .form-input.phone-input select {
    height: 4.8rem;
    width: 9.3rem;
}

.form .container .form-input.licenses-input select {
    width: 22.5rem;
}

.form .container .form-input:last-of-type {
    margin-bottom: 0;
}

.form .container .form-input:last-of-type textarea {
    width: 100%;
    display: block;
    resize: none;
    padding: 1rem;
}

.form .container .form-input_title {
    margin-bottom: 0.7rem;
}

.form .container .form-input input {
    width: 100%;
    padding: 0 1rem;
    height: 4.8rem;
    border-radius: 0.75rem;
    border: 0.05rem solid #CBCBCB;
}

.form .container .form-input input:focus {
    outline: none;
}

.form button {
    max-width: 35.4rem;
    margin: 6.25rem auto 0;
    padding: 1rem 15.625rem;
    border: none;
    border-radius: 0.75rem;
    background-color: #EFC51E;
    font-family: 'Gotham', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: white;
}

.form button:focus {
    outline: none;
}

.blogs {
    padding: 0 1rem;
    width: 100%;
    background-image: url(../images/blogs-background.png);
    mix-blend-mode: multiply;
}

.blogs-content {
    padding: 2.8125rem 0;
}

.content-left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content-left_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.4375rem;
}

.content-left_heading .blogs-heading {
    font-family: 'CanaroWoo-Bold', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #092E65;
    position: relative;
}

.content-left_heading .blogs-heading::before {
    content: "";
    position: absolute;
    top: -0.625rem;
    left: 0;
    width: 7.1875rem;
    height: 0.1875rem;
    background-color: #092e65;
    border-radius: 0.9375rem;
}

.left-content-text {
    display: flex;
}

.left-content-text p {
    font-family: 'Gotham', sans-serif;
    font-size: 1.5rem;
}

.left-content-text p:first-of-type {
    color: #88A2C9;
    margin-right: 2.625rem;
}

.left-content-text p:last-of-type {
    color: #092E65;
}

.left-content-card {
    width: 100%;
}

.content-left .left-content-card.row:nth-of-type(2) {
    margin-bottom: 0.5rem;
}

.left-content-card .card {
    display: flex;
    flex: 0 0 49.5%;
    justify-content: space-around;
    align-items: center;
    height: 18rem;
    background: #FFFFFF;
    box-shadow: 0rem 1.1875rem 2.75rem #B7D3FF73;
    border-radius: 0.6875rem;
    opacity: 0.5;
    padding: 1rem 0.5rem;
}

.left-content-card .card .under-picture {
    font-family: 'Gotham', sans-serif;
    font-size: 1rem;
    color: #646464;
    opacity: 1;
}

.left-content-card .card .main {
    font-family: 'Gotham', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    color: #1E1E1E;
    opacity: 1;
}

.left-content-card .card .date {
    text-align: center;
    font-family: 'Gotham', sans-serif;
    font-size: 0.7rem;
    color: #646464;
    opacity: 1;
}

.content-right {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
}

.content-right_heading {
    font-family: 'CanaroWoo-Bold', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #092E65;
    position: relative;
    margin-bottom: 5.4375rem;
}

.content-right_heading::before {
    content: "";
    position: absolute;
    top: -0.625rem;
    left: 0;
    width: 7.1875rem;
    height: 0.1875rem;
    background-color: #092e65;
    border-radius: 0.9375rem;
}

.content-right .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.6875rem;
    height: 100%;
}

.virtuoso-pic {
    width: 100%;
    height: auto;
}

.right-content-text {
    padding: 0.9375rem;
}

.content-right .card p:first-of-type {
    font-family: 'Gotham', sans-serif;
    font-size: 1.2rem;
    color: #1E1E1E;
    opacity: 1;
    padding: 0 0.9375rem;
    margin-top: 1.5rem;
}

.content-right .card p:nth-child(3) {
    font-family: 'Gotham', sans-serif;
    font-size: 1.1rem;
    color: #1E1E1E;
    opacity: 0.67;
    padding: 0 0.9375rem;
    margin-top: 2rem;
}

.content-right .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.375rem;
    width: 100%;
    background-color: #fff;
    padding: 1.375rem 0.9375rem;
    margin-top: 3.25rem;
    box-shadow: 0rem 1.1875rem 2.75rem #B7D3FF73;
    opacity: 0.5;
}

.content-right .card-footer p {
    font-family: 'Gotham', sans-serif;
    font-size: 0.7rem;
    color: #646464;
    opacity: 1;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 75rem) {
    .container {
        max-width: 87.5rem;
    }
}

.jp-video-full .jp-video-play {
    height: 100%; }

/*
.vjs-icon-placeholder {
    position: relative;
    display: block;
    width: 7rem;
    height: 6.25rem;
    left: 40%;
    top: 38%;
    background: url("/assets/images/play-button.png") 0 0 no-repeat;
    text-indent: -624.9375rem;
    border: none;
    cursor: pointer; }

.vjs-big-play-button:focus {
    background: url("/assets/images/play-button.png") 0 -6.25rem no-repeat; }*/